.appCarouselStyles .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: block;
  margin-top: 3rem;
  background: red !important;
}
